<div class="header bg-gradient-orange pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Produção</h5>
                  <span class="h2 font-weight-bold mb-0">{{countProd}}</span><br>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Homologação</h5>
                  <span class="h2 font-weight-bold mb-0">{{countHml}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Dev</h5>
                  <span class="h2 font-weight-bold mb-0">{{countDev}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row mt-4">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-light">Painel de Erros</h3>
            </div>
            <div class="col text-right">
                <h3 class="mb-0 text-light" >Total de registros: {{totalElements}}</h3>
              <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
            </div>
          </div>
        </div>
        <!-- <form role="form" #form="ngForm"> -->
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ambiente</th>
                <th scope="col">Tipo</th>
                <th scope="col">Titulo</th>
                <th scope="col">Criado</th>
                <th scope="col">Ip</th>
                <th scope="col">Info</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let logError of logsError">
                <th scope="row">
                  {{logError.environment}}
                </th>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i [ngClass]="getLevelClass(logError.level)"></i>
                    {{logError.level}}
                  </span>
                </td>
                <td>
                  {{logError.title}}
                </td>
                <td>
                  {{logError.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                  {{logError.requestIp}}
                </td>
                <td>
                  <app-modal 
                    [environmentLog]="logError.environment"
                    [ipLog]="logError.requestIp"
                    [dateLog]="logError.createdAt"
                    [title]="logError.title"
                    [details]="logError.details"  
                    (respSummary)="reciverFeedback($event)">
                  </app-modal>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            
              <!-- <span *ngFor="let extraService of room.extraServiceList.slice(0, 5)">
                  <img src="{{extraService.icon}}" alt="{{extraService.title}}"/>{{extraService.title}}
                </span><br> -->

            <ul class="pagination justify-content-end mb-0">
                
              <li *ngIf="actualPage > 0" class="page-item active" (click)="previusPage()" active>
                <a class="page-link" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Anterior</span>
                </a>
              </li>
              <li *ngIf="actualPage === 0" class="page-item" (click)="previusPage()" active>
                  <a class="page-link" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Anterior</span>
                  </a>
              </li>
              <div *ngFor="let item of this.pagination; let i = index">
                  <!-- <li *ngIf="isActualPage(i)" class="page-item active pagination-lg" (click)="getPage(i + 1)">
                      <a class="page-link">{{ i + 1 }}</a>
                      <span *ngIf="isActualPage(i+1)" class="sr-only">(current)</span>
                  </li>
                  <li *ngIf="!isActualPage(i)" class="page-item pagination-lg" (click)="getPage(i + 1)">
                      <a class="page-link">{{ i + 1 }}</a>
                      <span *ngIf="isActualPage(i+1)" class="sr-only">(current)</span>
                  </li> -->
                  <li class="page-item" (click)="getPage(i + 1)" [ngClass]="{ 'active' : !last}">
                      <a class="page-link">{{ last ? actualPage : actualPage + 1}}</a>
                      <span *ngIf="isActualPage(i+1)" class="sr-only">(current)</span>
                  </li>
              </div>
              <!-- <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 
                  <span class="sr-only">(current)</span></a>
              </li> -->
              
              <li class="page-item active" [ngClass]="{ 'active' : last}">
                  <a class="page-link" href="javascript:void(0)">{{totalPages}}</a>
                </li>


              <li class="page-item" [ngClass]="{ 'active' : !last}" (click)="nextPage()">
                <a class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Próximo</span>
                </a>
              </li>
              <!-- <li *ngIf="actualPage === (totalPages-1)" class="page-item" (click)="nextPage()" > 
                  <a class="page-link">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Próximo</span>
                  </a>
              </li> -->

              
            </ul>
          </nav>
        </div>
        <!-- </form> -->
      </div>
    </div>
    
  </div>
</div>
